.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-table-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 400;
}

.u-section-1 .u-icon-1 {
  width: 27px;
  height: 27px;
  margin: -53px 19px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 209px auto 27px 0;
  padding: 8px 28px 8px 27px;
}