.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-table-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-icon-1 {
  width: 23px;
  height: 23px;
  margin: -48px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 202px auto 39px 0;
  padding: 8px 28px 8px 27px;
}